.red-text {
    -fx-fill: red;
}

.json-property {
    -fx-fill: purple;
    /*    blue*/
}

.code-number {
    -fx-fill: blue;
}

.code-string {
    -fx-fill: green;
}

.code-comment {
    -fx-fill: gray;
}

.code-keyword {
    -fx-fill: blue;
}

.code-type {
    -fx-fill: purple;
}

.json-start-or-end-array {
    -fx-fill: blue;
}

.json-start-or-end-object {
    -fx-fill: gray;
}

.error-row {
    -fx-background-color: lightcoral;
}

.error-row:selected {
    -fx-background-color: #C06666;
}

.table-row-border {
    -fx-border-color: transparent transparent -color-border-default transparent;
}

.index-col-cell {
    -fx-text-fill: darkgray;
}

.error-row .index-col-cell {
    -fx-text-fill: #505050;
}

.table-view .scroll-bar:vertical > .increment-button,
.table-view .scroll-bar:vertical > .decrement-button {
    -fx-padding: 0.5em 0.5em;
}

.styled-text-area {
    -fx-border-color: -color-border-default -color-border-default -color-border-default -color-border-default;
    -fx-background-color: -color-bg-default;
}

/*.styled-text-area:focused {*/
/*    -fx-focus-color: #0969da;*/
/*    -fx-prompt-text-fill: transparent;*/
/*}*/
.styled-text-area .selection {
    -fx-fill: -color-accent-subtle;
    /*-fx-fill: red;*/
}

.styled-text-area:disabled {
    -fx-opacity: 0.4;
}

.bordered-container {
    -fx-border-color: -color-border-default;
    -fx-border-width: 1;
}

.cluster-tree-root, .cluster-tree-item {
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

.cg-info-label {
    -fx-font-size: 15;
}